/**
 * The following styles get applied inside the editor only.
 */

.wp-block-blockparty-post-sharing-button {
	&__copy,
	&__share {
		cursor: text;
	}

	&.is-display-preview-desktop.hide-copy-on-desktop &__copy,
	&.is-display-preview-desktop.hide-share-on-desktop &__share {
		display: none;
	}

	&.is-display-preview-mobile.hide-copy-on-mobile &__copy,
	&.is-display-preview-mobile.hide-share-on-mobile &__share {
		display: none;
	}
}
